.store {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
}

.commodity {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    width: 200px; /* 商品框寬度 */
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.commodity img {
    width: 200px; /* 圖片大小 */
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.commodity h2 {
    font-size: 20px;
    margin: 0;
    text-align: center;
}